@media screen and (max-width: 1200px){
  header{
    .banner{
      display:none;
    }
    .nav-container{
      display:none;
    }
    .nav-container-mobile{
      display:flex;
      height:80px;
      .icons-left{
        padding-left: 10px;
        display:flex;
        align-items: center;
        margin-right:auto;
        :nth-child(2){
          padding-left:20px;
        }
      }
      .logo{
        padding:20px;
      }
      .icons-right{
        padding-right: 10px;
        display:flex;
        align-items: center;
        margin-left:auto;
        :nth-child(1){
          padding-right:20px;
        }
      }
    }
    .banner-mobile{
      display:flex;
      justify-content: center;
      align-items: center;
      height:30px;
      background-color:#F4FDFF;
      p{
        font-size:14px;
        font-family: 'futuraBook';
      }
    }
  }
  .hero{
   .hero-wrap{
     .hero-card{
       left: 5%;
     }
  }
  }
  .best-sellers-wrapper{
    margin-bottom:43px;
    .best-sellers-header{
      margin:0;
      align-items: center;
      h3{
        font-size: 16px;
      }
      .best-sellers-buttons{
        display:flex;
        flex-direction: row;
        button{
          font-size:25px;
        }
      }
    }
    .slider-wrapper{
      .best-sellers-slider{
        width:89%;
        padding-left:50px;
      }
    }
    .black-button{
      margin:0;
    }
  }

  .cut-section{
    max-width:100%;
    height:100%;
    div{
      .header{
        display:flex;
        justify-content: center;
        h2{
          font-size:16px;
          font-family: 'futuraBook';
          color: $lightCoolGrey;
        }
        h3{
          display:none;
        }
      }
      .images-wrapper{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        .background-wrapper{
          display:none;
        }
        *{
          margin-bottom:41px;
        }
        *>span{
          position:absolute;
          left:0;
          bottom:0;
          text-align:left;
          margin-left:10px;
          background-color:white;
          padding:0 18px;
        }
        .top-right-wrapper{
          position: relative;
          top:0;
          width:90%;
        }
        .left-wrapper{
          margin:0;
          position: relative;
          width:90%;
        }
        .right-wrapper{
          position: relative;
          width:90%;
          margin: 0;
          right:0;
        }
      }
    }
  }

  .cayman{
    display:flex;
    flex-direction: column;
    height:100%;
    .cayman-card-wrap{
      width:100%;
      background-color:white;
    }
    img{
      display:flex;
      width:100%;
    }
  }

  .featured{
    margin-bottom:60px;
    .heading{
      h3{
        text-align:center;
      }
      h2{
        text-align:center;
      }
    }
    .background-wrapper{
      display:none;
    }
    .resort-wrap{
      .img-wrap{
        width:100%;
        img{
          width:100%;
        }
        #btn-green-wrap{
          position:absolute;
          top:30%;
          left:30%;
        }
        #btn-floral{
          position:absolute;
          top:40%;
          left:55%;
        }
      }
      #product-wrap{
        position:absolute;
        display:none;
        flex-direction: column;
        align-items: center;
        left:0;
        top:0;
        width:100%;
        height:100%;
        margin-right:auto;
        #product-close-btn{
          display:flex;
          margin-left:270px;
        }
      }
    }
  }

  .bermuda{
    display:flex;
    flex-direction: column;
    height:100%;
    .bermuda-card-wrap{
      width:100%;
      background-color:white;
      background-image:none;
    }
    img{
      display:flex;
      width:100%;
    }
  }
  .picture-grid-container{
    .grid-wrap{
      :nth-child(n+5){
        display:none;
      }
      .cell{
        overflow: hidden;
        width: calc(100%/2 - 10px);

      }
    }
  }

  footer{
    height:100%;
    .footer-wrapper{
      .footer-container{
        h2{
          align-self:flex-start;
          padding-left: 17px;
        }
        p{
          text-align:left;
          align-self:flex-start;
          padding-left: 17px;
          color: $darkGrey;
        }
        .footer-newsletter{
          border: 2px solid $darkGrey;
          button{
            border:none;
          }
        }
        .links-container{
          flex-wrap:wrap;
          .links{
            flex: 1 0 35%;
            padding-left:24px;
          }
        }
      }
      .footer-bottom{
        flex-direction: column-reverse;
        .social-text{
          display:flex;
          padding: 40px 0 20px 20px;
          font-size: 24px;
          font-family: 'bodoni';
          color: $darkGrey;
        }
        .icons-payment{
          display:flex;
          justify-content: space-around;
          margin:0;
        }
        .copyright{
          text-align:center;
          padding: 60px 0 25px 0;
        }
        .icons-social{
          padding-left:20px;
          margin:0;
          display:flex;
          justify-content: left;
        }
      }
    }
  }

}

@media screen and (max-width: 1000px){
  .hero{
    .hero-wrap{
      .hero-card{
        left: 115px;
        h1{
          font-size: 36px;
        }
        button{
          height: 30px;
          width: 150px;
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  .hero{
    display:none;
  }
  .hero-mobile{
    display:block;
    position: relative;
    margin-bottom:25px;
    img{
      width:100%;
    }
    .card{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position:absolute;
      height:113px;
      width:238px;
      margin-top:-173px;
      background-color: white;
    }
  }
}