@import './colors';
@import './fonts';

@import './header';
@import './main';
@import './responsive';

*{
  padding:0;
  margin:0;
  h1,h2,h3,h4,h5,h6{
    font-weight: normal;
  }
  :focus {
    outline: none;
  }
  .hidden{
    display:none;
  }
  .unhidden{
    display:all;
  }
}